<div class="container">
    <h2 style="color:lightseagreen;">Checkout-Form:</h2>
    <form #Checkform="ngForm" (ngSubmit)="register(Checkform.value)">
        <div class="sub-container">
            <h4 style="color: lightcoral;">Customer Details</h4>
            <!--Fisst Name-->
            <div class="form-group">
                <label for="firstName">Firstname:</label>
                <input type="text" id="name" name="firstName" class="form-control" required minlength="2"
                    [(ngModel)]="customer.firstName" #firstName="ngModel" placeholder="Enter FirstName"
                    [class.is-invalid]="firstName.invalid && firstName.touched">
                <small class="text-danger" [class.d-none]="firstName.valid || firstName.untouched">Firstname is
                    required
                    field</small>
                <div *ngIf="firstName.errors?.minlength">First Name must be at least 2 characters long. </div>

            </div>
            <!--Last Name-->
            <div class="form-group">
                <label for="lastName">LastName:</label>
                <input type="text" class="form-control" placeholder="Enter LastName" name="lastName"
                    [(ngModel)]="customer.lastName" required minlength="2" #lastName="ngModel"
                    [class.is-invalid]="lastName.invalid && lastName.touched">
                <small class="text-danger" [class.d-none]="lastName.valid || lastName.untouched">Lastname is required
                    field</small>
                <div *ngIf="firstName.errors?.minlength">Last Name must be at least 2 characters long. </div>

            </div>

            <!--Email-->
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" placeholder="Enter email" name="email"
                    [(ngModel)]="customer.email" required pattern="\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" #email="ngModel"
                    [class.is-invalid]="email.invalid && email.touched">
                <div *ngIf="email.errors && ( email.invalid && email.touched)">
                    <small class="text-danger" *ngIf="email.errors.required">Email Id is required field</small>
                    <small class="text-danger" *ngIf="email.errors.pattern">Enter the proper value of email</small>
                </div>
            </div>
            <div class="form-group">
                <label for="password">password:</label>
                <input type="text" class="form-control" placeholder="Enter password" name="password"
                    [(ngModel)]="customer.password" required #password="ngModel"
                    [class.is-invalid]="password.invalid && password.touched">
                <small class="text-danger" [class.d-none]="password.valid || password.untouched">password is Required
                   </small>
            </div>
    


        </div>

        <div class="sub-container">
        <h4 style="color: lightcoral;">Shipping Address</h4>

        <!--country-->
        <div class="form-group">
            <label for="country">Country:</label>
            <select id="country" type="text" class="form-control" placeholder="Enter Country" name="country"
                [(ngModel)]="address.country" required #country="ngModel"
                [class.is-invalid]="country.invalid && country.touched">
                <option value="India">India</option>
                <option value="Canada">Canada</option>
                <option value="France">France</option>
                <option value="Cyprus">Cyprus</option>
                <option value="Bangladesh">Bangladesh</option>

            </select>


            <small class="text-danger" [class.d-none]="country.valid || country.untouched">Country is required
                field</small>


        </div>
        <!-- <state> -->
        <div class="form-group">
            <label for="state">State:</label>
            <select id="state" type="text" class="form-control" placeholder="Enter State" name="state"
                [(ngModel)]="address.state" required #state="ngModel"
                [class.is-invalid]="state.invalid && state.touched">
                <option value="India">Telangana</option>
                <option value="Canada">AP</option>
                <option value="France">MP</option>
                <option value="Cyprus">Karnataka</option>
                <option value="Bangladesh">TamilNadu</option>

            </select>


            <small class="text-danger" [class.d-none]="state.valid || state.untouched">State is required
                field</small>


        </div>
        <!--street-->
        <div class="form-group">
            <label for=" street">Street:</label>
            <input type="text" class="form-control" placeholder="Enter street" name="street"
                [(ngModel)]="address.street" required minlength="6" #street="ngModel"
                [class.is-invalid]="street.invalid && street.touched">
            <small class="text-danger" [class.d-none]="street.valid || street.untouched">street is required
                field</small>
            <div *ngIf="firstName.errors?.minlength">Street must be at least 6 characters long. </div>
        </div>

        <!--City-->
        <div class="form-group">
            <label for="City">Enter City:</label>
            <input type="text" class="form-control" placeholder="Enter City" name="city" [(ngModel)]="address.city"
                required #city="ngModel" [class.is-invalid]="city.invalid && city.touched">
            <small class="text-danger" [class.d-none]="city.valid || city.untouched">city is required
                field</small>

        </div>
        <!--zipcode-->
        <div class="form-group">
            <label for="zip_code">Zipcode:</label>
            <input type="text" class="form-control" placeholder="Enter zip_code" name="zip_code"
                [(ngModel)]="address.zip_code" required minlength="6" #zip_code="ngModel"
                [class.is-invalid]="zip_code.invalid && zip_code.touched">
            <small class="text-danger" [class.d-none]="zip_code.valid || zip_code.untouched">zipcode is required
                field</small>
            <div *ngIf="firstName.errors?.minlength">zipcode must be at least 6 digits. </div>
        </div>
       </div>
     <div class="sub-container">
        <h4 style="color: lightcoral;">Credit Card</h4>

            <!--cardtype-->
             <div class="form-group">
        <label for="cardType">Card Type:</label>
        <select type="text" id="cardType" class="form-control" placeholder="Enter Card Type" name="CardType"
            [(ngModel)]="creditCard.cardType" required #cardType="ngModel"
            [class.is-invalid]="cardType.invalid && cardType.touched">


            <option value="Visa">Visa</option>
            <option value="Master-Card">Master-Card</option>

        </select>
        <small class="text-danger" [class.d-none]="cardType.valid || cardType.untouched">cardType is required
            field</small>


    </div>
    <!--Name On Card-->
        <div class="form-group">
    <label for="city">Name on Card:</label>
    <input type="text" class="form-control" placeholder="Enter Name on Card" name="nameOfCard"
        [(ngModel)]="creditCard.nameOfCard" required minlength="2" #nameOfCard="ngModel"
        [class.is-invalid]="nameOfCard.invalid && nameOfCard.touched">
    <small class="text-danger" [class.d-none]="nameOfCard.valid || nameOfCard.untouched">nameOfCard is
        required
        field</small>
    <div *ngIf="firstName.errors?.minlength">nameOfCard must be at least 2 characters long. </div>


        </div>
    <!--Card Number-->
    <div class="form-group">

        <label for="city">Card Number:</label>
        <input type="text" class="form-control" placeholder="Enter Card Number" name="cardNumber"
            [(ngModel)]="creditCard.cardNumber" required minlength="16" #cardNumber="ngModel"
            [class.is-invalid]="cardNumber.invalid && cardNumber.touched">
        <small class="text-danger" [class.d-none]="cardNumber.valid || cardNumber.untouched">cardNumber is
            required
            field</small>
        <div *ngIf="firstName.errors?.minlength">cardNumber must be at least 16 characters long. </div>


    </div>
    <!--Security Code-->
    <div class="form-group">

        <label for="city">Security Code:</label>
        <input type="text" class="form-control" placeholder="Enter Security Code" name="securityCode"
            [(ngModel)]="creditCard.securityCode" required minlength="3" #securityCode="ngModel"
            [class.is-invalid]="securityCode.invalid && securityCode.touched">
        <small class="text-danger" [class.d-none]="securityCode.valid || securityCode.untouched">securityCode is
            required
            field</small>
        <div *ngIf="firstName.errors?.minlength">cardNumber must be at least 3 characters long. </div>


    </div>
    <!-- <Expiration Month> -->
    <div class="form-group">
        <label for="expirationMonth">Expiration Month:</label>
        <select type="text" id="expirationMonth" class="form-control" placeholder="Enter Expiration Month"
            name="expirationMonth" [(ngModel)]="creditCard.expirationMonth" required #expirationMonth="ngModel"
            [class.is-invalid]="expirationMonth.invalid && expirationMonth.touched">


            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>

        </select>
        <small class="text-danger" [class.d-none]="expirationMonth.valid || expirationMonth.untouched">Month is
            required
            field</small>

    </div>
    <!-- <Expiration Year> -->
    <div class="form-group">
        <label for="expirationYear">Expiration Year:</label>
        <select type="text" id="expirationYear" class="form-control" placeholder="Enter Expiration Year"
            name="expirationYear" [(ngModel)]="creditCard.expirationYear" required #expirationYear="ngModel"
            [class.is-invalid]="expirationYear.invalid && expirationYear.touched">


            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
            <option value="2025">2025</option>
            <option value="2026">2026</option>
            <option value="2027">2027</option>
            <option value="2028">2028</option>
            <option value="2029">2029</option>
            <option value="2030">2030</option>


        </select>
        <small class="text-danger" [class.d-none]="expirationYear.valid || expirationYear.untouched">Year is
            required
            field</small>
       </div>
      </div>

        <div class="sub-container">
       <!--Order-->
        <!--itemname-->
        <h4 style="color: lightcoral;">Order</h4>

       <!--Price-->
                <div class="form-group">
                  <label for=" price">Total Price:</label>
                   <input type="text" class="form-control" placeholder={{totalPrice}} name="totalPrice" disabled>

                </div>
        <!--quantity-->
          <div class="form-group">
        <label for="quantity">Total Quantity:</label>
        <input type="text" class="form-control" placeholder={{totalQuantity}} name="totalQuantity" disabled>
       </div>
      </div>
      <br>
      <button type="submit" class="btn btn-info">Place Order</button>
        <button style="margin-left: 2%;background-color: darkblue;" class="btn btn-info" [routerLink]="['']">Go to
       Home</button>

    </form>

</div>