<ng-container *ngFor="let rest of restaurant">
    <div *ngIf="rest.dishname.toLowerCase()===dish.toLowerCase()" class="container">
        <img src="{{rest.url}}" style="width: 100%;height: 200px;">
        <h4 class="rupee">{{rest.rname}}</h4>
        <h4 class="rupee">{{rest.dishname}}</h4>
        <h4 class="rupee"><i class="fa fa-inr" aria-hidden="true"></i>{{rest.price}}</h4>
        <a class="cart-button" style="color: white" (click)="OnAddCart(rest.id)">Add to cart </a>
    </div>
</ng-container>
