<div class="container">
    <h2 style="color:lightseagreen;">Login Form</h2>
    <form #loginform="ngForm" (ngSubmit)="loginUser()" class="form">


        <small class="text-danger">{{msg}}</small>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" placeholder="Enter email" name="email" [(ngModel)]="customer.email"
                required pattern="\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" #email="ngModel"
                [class.is-invalid]="email.invalid && email.touched">


            <div *ngIf="email.errors && (email.invalid && email.touched)">
                <small class="text-danger" *ngIf="email.errors.required">Email Id Required</small>
                <small class="text-danger" *ngIf="email.errors.pattern">Enter The Proper Email</small>
            </div>

        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" placeholder="Enter password" name="password"
                [(ngModel)]="customer.password" required #password="ngModel"
                [class.is-invalid]="password.invalid && password.touched">
            <small class="text-danger" [class.d-none]="password.valid || password.untouched">password Is Required
            </small>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" name="remember"> Remember me</label>
        </div>

        <button type="submit" class="btn btn-info">Login</button>
        <button style="margin-left: 2%;background-color: blue;" class="btn btn-info"
            [routerLink]="['/registration']">SignUp</button>
    </form>
    <br>

    <a routerLink="">Go To Home Page</a>
</div>