.container {
    margin-top: 4%;
    width: 70vh;
    box-shadow: 2px 2px 4px 4px #ccc;
}

.form-control {
    background-color: whitesmoke;
}

.page-container {
    height: 68vh;
}

.sidenav {
    height: 68vh;
    width: 250px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #1e1e1e;
    overflow-x: hidden;
    padding-top: 12vh;
    padding-bottom: 20vh;
}

.sidenav a {
    padding: 29px 5px 0px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 250px;
    padding: 20px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}