<div class="sidenav">
    <div class="list-items">
        <a [routerLink]="['/rest-1',AdiGas]" routerLinkActive="selected" class="list-item">AdiGas</a>
        <a [routerLink]="['/rest-2',RotiGhar]" routerLinkActive="selected" class="list-item">RotiGhar</a>
        <a [routerLink]="['/rest-3',PanjabiRasoi]" routerLinkActive="selected" class="list-item">Panjabi Rasoi</a>
        <a [routerLink]="['/rest-4',Udupi]" routerLinkActive="selected" class="list-item">Udupi</a>
    </div>
</div>
<div class="main">
    <router-outlet></router-outlet>
</div>