.page-container {
    height: 68vh;
}

.sidenav {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 250px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    /* Stay at the top */
    left: 0;
    background-image: url("../../assets/blackbg.jpg");
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 12vh;
    padding-bottom: 20vh;
}


/* The navigation menu links */

.sidenav a {
    padding: 29px 5px 0px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: #f1f1f1;
}


/* Style page content */

.main {
    margin-left: 250px;
    /* Same as the width of the sidebar */
    padding: 20px 10px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}