.section-intro {
    height: 400px;
    width: 100%;
    color: black;
    background-image: url(../../assets/Images/bg1.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



