<div class="container">
    <h2 style="color:lightseagreen;">Registration Form</h2>
    <form #Registerform="ngForm" (ngSubmit)="registerCustomer()">


        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" placeholder="Enter email" name="email" [(ngModel)]="customer.email"
                required pattern="\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" #email="ngModel"
                [class.is-invalid]="email.invalid && email.touched">
            <div *ngIf="email.errors && ( email.invalid && email.touched)">
                <small class="text-danger" *ngIf="email.errors.required">Email Id is Required </small>
                <small class="text-danger" *ngIf="email.errors.pattern">Enter the proper value of email</small>
            </div>
        </div>


        <div class="form-group">
            <label for="firstName">Firstname:</label>
            <input type="text" class="form-control" placeholder="Enter Firstname" name="firstName"
                [(ngModel)]="customer.firstName" required #firstName="ngModel"
                [class.is-invalid]="firstName.invalid && firstName.touched">
            <small class="text-danger" [class.d-none]="firstName.valid || firstName.untouched">Firstname is Required
                </small>
        </div>


        <div class="form-group">
            <label for="lastName">LastName:</label>
            <input type="text" class="form-control" placeholder="Enter LastName" name="lastName"
                [(ngModel)]="customer.lastName" required #lastName="ngModel"
                [class.is-invalid]="lastName.invalid && lastName.touched">
            <small class="text-danger" [class.d-none]="lastName.valid || lastName.untouched">Lastname is Required
               </small>
        </div>

        <div class="form-group">
            <label for="password">password:</label>
            <input type="text" class="form-control" placeholder="Enter password" name="password"
                [(ngModel)]="customer.password" required #password="ngModel"
                [class.is-invalid]="password.invalid && password.touched">
            <small class="text-danger" [class.d-none]="password.valid || password.untouched">password is Required
               </small>
        </div>


     
        <div class="checkbox">
            <label><input type="checkbox" name="remember"> Remember me</label>&emsp;
            <button type="submit" class="btn btn-info"
                style="margin-left: 3%;">Register</button>&emsp;
            <button style="margin-left: 3%;background-color: blue;" class="btn btn-info"
                [routerLink]="['/login']">Login</button>&emsp;

        </div>


    </form>



</div>