<div class="clear"></div>

<div class="footer-basic">
    <footer>
        <div class="social">
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a></div>

        <p class="copyright">Tasty Bites</p>
    </footer>
</div>
